# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp

# Output files
output.md

# Ignore zip files
*.zip

# Ignore testcases directories
testcases_*/
test_cases_*/
testspec_pdf/
testcases/


# Ignore testspecs_pdf directories and DVM.md files
testspecs_pdf/
*DVM.md